@using Modelos
@model IEnumerable<ALARMA>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-1" style="margin-top:10px">
        <br />
        <h3>Alarmas Programadas</h3>
        <br />
        @foreach (var item in Model)
        {
             @*Esta comprobacion se tiene que hacer en la consulta ¡CAMBIAR!*@
            <div class="col">
                <i class="bi bi-alarm">
                    @item.fecha
                </i>
            </div>
            <br />
             
        }
        <br />
    </div>
    <a href="@Url.Action("InsertarAlarma","Alarma")" class="btn d-inline-flex btn-sm btn-primary mx-1">
        <span class=" pe-2">
            <i class="bi bi-plus"></i>
        </span>
        <span>Create</span>
    </a>
</div>
