@using Modelos
@model IEnumerable<ALARMA>
@{
    Layout = "/Views/Shared/_LayoutAlarma.cshtml";
}
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-1" style="margin-top:10px">
        <br />
        <h3>Alarmas Programadas</h3>
        <br />
        @foreach (var item in Model)
        {
             @*Esta comprobacion se tiene que hacer en la consulta ¡CAMBIAR!*@
            <div class="col">
                <i class="bi bi-alarm">
                    @item.fecha
                </i>
            </div>
            <br />
             
        }
        <br />
    </div>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/localizacion.js"></script>
<script src="~/js/alarma.js"></script>
